h1{
    text-align:center;
    padding-bottom:2px;
    margin-bottom:2px;
}

.ui-page{
    background-image:linear-gradient(200deg,#b24bf3, #a020f0);
}

.style-icon{
    width:15%;
    height:45px;
    background:#000;
    border-radius:50%;
    text-align:center;
    padding-top:10px;
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
}

.label{
    font-weight:bold;
    font-size:18px;
}

#error1,#error2, #error3{
    color:#ff2800;
    font-weight:none;
}

textarea.ui-input-text{
    text-align:center;
    font-weight:bold;
    font-size:20px;
}